# PostgreSQL Local Docker
DATABASE_URL="postgresql://homeland:homeland123@localhost:5432/homeland?schema=public"

# Redis Local Docker
REDIS_URL="redis://localhost:6379"

# API Local Setup
PORT=3001
NODE_ENV="development"
JWT_SECRET="homeland_super_secret_key_change_in_production"
